# Курс "Машиное обучение в бизнесе"

## Практическое задание урока 1. Data-driven-подход на примере задачи маршрутизации заявок в helpdesk

Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [164]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [165]:
df.shape

(7043, 21)

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [167]:
#Ваш код здесь

condition_1 = (df['gender'] == 'Female')
print(condition_1.sum(), ' значений поля gender в обучающей выборке равно Female')
condition_2 = (df['gender'] == 'Male')
print(condition_2.sum(), ' значений поля gender в обучающей выборке равно Male')
print('*******')

gender_ratio = condition_2.sum() / condition_1.sum()
print(gender_ratio, ' соотношение мужчин и женщин в представленном наборе данных')

3488  значений поля gender в обучающей выборке равно Female
3555  значений поля gender в обучающей выборке равно Male
*******
1.0192087155963303  соотношение мужчин и женщин в представленном наборе данных

##### 2. Какое количество уникальных значений у поля InternetService?

In [168]:
#Ваш код здесь
print(df['InternetService'].nunique(), ' уникальных  значений у поля  InternetService')

3  уникальных  значений у поля  InternetService

In [169]:
df['InternetService'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [170]:
#Ваш код здесь

# print(df['TotalCharges'].median(), 'значение median по полю TotalCharges')
# print(df['TotalCharges'].mean(), 'значение mean по полю TotalCharges')
# print(df['TotalCharges'].std(), 'значение std по полю TotalCharges')

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

***Ответ***

Поле TotalCharges имеет тип данных object, поэтому статистики не считаются.

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [171]:
#Ваш код здесь

df['PhoneService'] = df['PhoneService'].map({'No':'0', 'Yes':'1'}).astype(int)
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [172]:
#Ваш код здесь
df['TotalCharges'] = df['TotalCharges'].str.replace(' ', 'NaN')
df['TotalCharges'] = df['TotalCharges'].astype(np.float32)
# df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'].fillna(0, inplace=True)

In [173]:
print(df['TotalCharges'].median(), 'значение median по полю TotalCharges')
print(df['TotalCharges'].mean(), 'значение mean по полю TotalCharges')
print(df['TotalCharges'].std(), 'значение std по полю TotalCharges')

1394.550048828125 значение median по полю TotalCharges
2279.732177734375 значение mean по полю TotalCharges
2266.79443359375 значение std по полю TotalCharges

***Ответ***

После преобразований типа данных в поле TotalCharges в числовой статистики считаются.

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [174]:
#Ваш код здесь
df['Churn'] = df['Churn'].map({'No':'0', 'Yes':'1'}).astype(int)
df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [175]:
#Ваш код здесь

for n in ['StreamingMovies', 'StreamingTV', 'TechSupport']:
    df[n] = df[n].map({'No':'0', 'Yes':'1', 'No internet service':'0'}).astype(int)

In [176]:
df['StreamingMovies'].value_counts()

0    4311
1    2732
Name: StreamingMovies, dtype: int64

In [177]:
df['StreamingTV'].value_counts()

0    4336
1    2707
Name: StreamingTV, dtype: int64

In [178]:
df['TechSupport'].value_counts()

0    4999
1    2044
Name: TechSupport, dtype: int64

##### 8. Заполните пропуски в поле PhoneService значением 0

In [179]:
#Ваш код здесь
condition_3 = df['PhoneService'].isna()

print(condition_3.sum(), ' пропусков значений PhoneService')

0  пропусков значений PhoneService

***Ответ***

В поле PhoneService нет пропусков, чтобы заполнить их pначением 0

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [180]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь

In [181]:
df_copy = df.copy()
df = df[columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,0
1,Male,34,1,1889.500000,0,0,0,0
2,Male,2,1,108.150002,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [182]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
X = df[features]
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(
            X,
            y,
            shuffle=True,
            test_size=0.3,
            random_state=42
        )

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [183]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [184]:
#Ваш код здесь
gender.fit_transform(X_train, y_train)

      gender_Female  gender_Male
1695              0            1
1095              0            1
3889              0            1
3667              1            0
2902              1            0
...             ...          ...
3772              0            1
5191              1            0
5226              0            1
5390              0            1
860               0            1

[4930 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [185]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

***Ответ***

Идея StandardScalerзаключается в том, что он преобразует данные так, что их распределение будет иметь среднее значение 0 и стандартное отклонение 1. Учитывая распределение данных, каждое значение в наборе данных будет вычитаться из среднего значения выборки, а затем делиться на стандартное отклонение всего набора данных.

StandardScaler выполняет задачу стандартизации. Обычно набор данных содержит переменные разного масштаба. Поскольку разные столбцы отличаются по масштабу, их стандартизируют, чтобы иметь общий масштаб при построении модели машинного обучения.

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [186]:
#Ваш код здесь

from sklearn.preprocessing import StandardScaler

TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [187]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [188]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [189]:
X_train.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
1695,Male,54,1,3770.000000,0,1,1
1095,Male,1,1,80.550003,0,1,0
3889,Male,13,1,259.649994,0,0,0

In [190]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('features',
                 FeatureUnion(n_jobs=None,
                              transformer_list=[('tenure',
                                                 Pipeline(memory=None,
                                                          steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler(copy=True,
                                                                                 with_mean=True,
                                                                                 with_std=True))],
                                                          verbose=False)),
                                                ('TotalCharges',
                                                 Pipeline(memory=None,
                                                          steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=42,
                                        verbose=0, warm_start=False))],
         verbose=False)

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [191]:
#Ваш код здесь
y_pred = pipeline.predict_proba(X_test)
y_pred

array([[0.29, 0.71],
       [1.  , 0.  ],
       [1.  , 0.  ],
       ...,
       [0.93, 0.07],
       [0.23, 0.77],
       [0.94, 0.06]])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [192]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь
roc_auc = {'class_1': roc_auc_score(y_test.values.ravel(), y_pred[:,0]), 
       'class_2': roc_auc_score(y_test.values.ravel(), y_pred[:,1])}
print(f'roc_auc: {roc_auc}')

logloss = {'class_1': log_loss(y_test.values.ravel(), y_pred[:,0]), 
       'class_2': log_loss(y_test.values.ravel(), y_pred[:,1])}
print(f'logloss: {logloss}')

roc_auc: {'class_1': 0.20791986741922558, 'class_2': 0.7920710765169473}
logloss: {'class_1': 8.161119671735019, 'class_2': 0.7093278035153542}

### Сохраним наш пайплайн

In [193]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)